In [1]:
import pandas as pd

In [4]:
df_pp = pd.read_csv('./results/performance_profile.csv')
df_max = df_pp.groupby("instance", as_index=False)["best_cost"].max()

df_max

       instance  best_cost
0   scqbf_025_1     1316.0
1   scqbf_025_2     1279.0
2   scqbf_050_1     5257.0
3   scqbf_050_2     5161.0
4   scqbf_100_1    16665.0
5   scqbf_100_2    20383.0
6   scqbf_100_3    20471.0
7   scqbf_100_4    21470.0
8   scqbf_200_1    48906.0
9   scqbf_200_2    80463.0
10  scqbf_200_3    50470.0
11  scqbf_200_4    49891.0
12  scqbf_400_1   141264.0
13  scqbf_400_2   321752.0
14  scqbf_400_3   140016.0